<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Comunicador_Connection" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=Sa;password=Carlos1612;initial catalog=Servicio;Persist Security Info=true" />
    <add name="CPRO_Connection" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=Sa;password=Carlos1612;initial catalog=cloverprod;Persist Security Info=true" />
    <add name="CRH_Connection" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=Sa;password=Carlos1612;initial catalog=cloverrh;Persist Security Info=true" />
    <add name="CPRO_ConnectionDebug" 
         connectionString="Data Source=MEXI1285\SQLEXPRESSCLOVER;Initial Catalog=cloverprod;Persist Security Info=True;User ID=sa;Password=Carlos1612"
         providerName="System.Data.SqlClient" />
    <add name="CCES_Connection" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=Sa;password=Carlos1612;initial catalog=cloverces;Persist Security Info=true" />
    <add name="Comunicador_ConnectionLocal" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=sa;password=Carlos1612;initial catalog=Servicio;Persist Security Info=true" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
